:root {
  box-sizing: border-box;
  font-size: 1em;

  --main-font: "Open Sans", sans-serif;
  --heading-font: "Arial", sans-serif;
  --color-primary: #e8b284;
  --color-secondary: #333333;
  --color-text: #0D0D0D;
  --color-background: #ffffff;
  --color-accent: #f2f2f2;


}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;


}

body {
  margin: 0;
  font-family: var(--main-font);
  font-weight: 400;
  background-color: var(--color-accent);
  color: var(--color-text);
  letter-spacing: 0.03rem;
  line-height: 1.425;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: justify;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 900;
  line-height: 1;
  margin-bottom: .5em;
  margin-top: 2em;
}

p {
  margin-bottom: .3em;
}

.container.header {
  max-width: 1200px;
  background-color: var(--color-accent);
  text-align: initial;
}

.header-landing {
  margin-right: 1em;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 15em;
}


.header {

  display: flex;
  align-items: center;
}

.header li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.container.content {
  margin-top: 25em;
}

.recipe-page {
  margin-top: 5em;
  text-align: initial;
  margin-bottom: 15em;
}

.recipe-page li {
  margin: 1em 0 1em 1.3em;

}

.content h1 {
  margin-top: 3em;
}

h2 {
  font-size: 1.2em;
}

.content li {
  margin: 1em 0 1em 1.3em;

}

.recipe-links {
  margin-top: 5em;
}

.recipe-links p {
  margin-bottom: 2em;
}

.recipe-links .flex {
  display: flex;
  max-width: 1400px;

  margin-bottom: 10em;

}

.flex a {

  text-align: initial;
}

.flex h1 {
  font-size: 1em;
  margin-top: 0;
}

.flex p {
  font-size: .8em;
  margin-right: 1em;
  margin-top: 0;
}

.disclaimer {
  margin-top: 5em;

  width: 100%;
  text-align: center;
  margin-bottom: 0;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  padding: 2em;
}

.disclaimer li {
  list-style-type: none;
}